


/* Ceci esty mon block nav */
.navbar {
    display: flex;
    gap:173px;
    margin: -11px;
    background: black;
}
.navbar__logo {
    font-size: 2em;
    margin-left: 62px;
    margin-right: -1636px;;
    margin-bottom: 10px;
}
.navbar__boutons {
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    gap: 82px;
    margin: auto;
    list-style-type: none
}
img {
    width: 25%;
    filter: invert(100%);
}


/* Ceci est mon block body */
.infos {
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.infos__titres {
    padding: 10px;
    font-size: 35px;
    margin: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.infos__texte {
    font-size: 1em;
    margin-left: 90px;
    margin-top: 10px;
}
html {
    background-color: black;
    overflow-x: hidden;
    overflow-y: auto;
}
.selecteur {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: white;
    border: none;
    font-size: 16px;
}


/* Ceci sont mes blocks des fonds de mes carrousels */
.infos__best_movie {
    background-image: url(images/image_film_selectione.jpg);
    background-position: 70% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 550px;
    transition: all 0.3s ease-in-out;
}
.infos__bests_movies {
    background-image: url(images/image_mieux_note.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 70% 14%;
    height: 339px;
    transition: all 0.3s ease-in-out;
}
.infos__horror {
    background-image: url(images/image_horror.jpg);
    background-position: 70% 23%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 339px;
    transition: all 0.3s ease-in-out;
}
.infos__sci-fi {
    background-image: url(images/image_science_fiction.jpeg);
    background-position: 80% 80%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 339px;
    transition: all 0.3s ease-in-out;
}
.infos__drama {
    background-image: url(images/image_fantastique.jpg);
    background-position: 80% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 339px;
    transition: all 0.3s ease-in-out;
}


/* Ceci est mon block d'infos generales */
#carousel__1, #carousel__3, #carousel__2, #carousel__4{
    gap: 30px;
    margin-right: 35px;
    margin-left: 35px;
    margin-top: 15px;
    padding-bottom: 30px;
    width: auto;
    height: 200px;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
}
.movie_images {
    width: 1800px;
    height: 230px;
}
.photos{
    scale: initial;
    width: 133px;
    height: 196px;
    margin: 16px 165px 30px;
    display: inline-block;
    background-size: cover;
    transition: all 0.3s ease;
    cursor: pointer;
}
.photos:hover{
    transform: scale(1.17);
    transition: all 0.3s ease;
}


/* Ceci est mon block de boutons */
.boutons{
    filter: invert(0%);
    position: absolute;
    width: 53px;
    cursor: pointer;
    top: 84px;
}
#left_best, #left_drama, #left_horror, #left_sci-fi {
    left: 0;
    opacity: 0.4;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}
#right_best, #right_drama, #right_horror, #right_sci-fi {
    right: 0;
    opacity: 0.4;
    transform: rotate(180deg);
    transition: all 0.3s ease;
}
#left_best:hover, #left_drama:hover, #left_horror:hover, #left_sci-fi:hover {
    transform: scale(1.1) rotate(0deg);
    opacity: 1;
    transition: all 0.3s ease;
}
#right_best:hover, #right_drama:hover, #right_horror:hover, #right_sci-fi:hover {
    transform: scale(1.1) rotate(180deg);
    opacity: 1;
    transition: all 0.3s ease;
}

/* Ceci est mon block de page popup */
#popup-overlay {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8) ;
    z-index: 98;
    align-items: center;
    justify-content: center;
    display: none;
}
#popup-overlay.open {
    display: block; !important;
}
.popup-content {
    width: 950px;
    height: 400px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #293133;
    border-radius: 10px;
    overflow: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 40px 40px 40px 100px;
    grid-gap: 15px;
}
.popup-content p{
    margin: 7px 0;
    max-height: 150px;
    overflow-y: auto;
    padding: 10px;
}
#popup_exit {
    font-size: 17px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.popup-content img {
    filter: unset;
    max-width: 100%;
    padding-left: 35px;
    padding-top: 65px;
}

/* Ceci est mon block de gestion de grid pour l'affichage popup */
.box_one {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    scale: 3;
}
.box_two {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    font-size: 40px;
}
.box_three {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.box_four {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.box_five {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.box_six {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.box_seven {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.box_eight {
    overflow-x: auto;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}
.box_ten {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.box_twelve {
    grid-column: 2 / 5;
    grid-row: 5 / 6;
}


#the_best_movie {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 120px 100px 60px;
    grid-gap: 15px;

}

#the_best_movie img {
    filter: unset;
    width: 300px;
    height: 400px;
    max-width: 100%;
    padding-left: 165px;
    padding-top: 30px;
}
.box_fourteen {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

}
.box_thirteen {
    padding-top: 46px;
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    font-size: 70px;

}
.box_fifteen {
    padding-top: -11px;
    grid-column: 2 / 2;
    grid-row: 3 / 4;
    font-size: 20px;
}
.box_sixteen {
    background-color: red;
    color: white;
    font-size: 20px;
    grid-column: 2 / 2;
    grid-row: 2 / 3;
    border-radius: 10px;
    border: none;
    height: 47px;
    width: 185px;
    align-self: end;
}

footer {
    text-align: center;
}


